openai==3.19.2
Flask==2.3.2
requests
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
requests-oauthlib
python-dotenv
google-api-python-client
dateparser
pytz
resend
psycopg2-binary
twilio
pywebpush==2.5.0
